.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px 0;
}

.product-card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-3px);
}

.product-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

h4 {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}

.price {
  font-weight: 600;
  color: #0077ff;
  margin: 4px 0;
}

/* --- Vendor name gradient theme --- */
.vendor-name {
  font-size: 0.85rem;
  margin: 3px 0;
  font-weight: 600;
  color: #11ec44;
  cursor: pointer;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1f2937; 
}

.vendor-name:hover {
  opacity: 0.8;
}

.vendor-name .green-tick {
  width: 16px;  
  height: 16px;
  margin-left: -1px;
  margin-top: 11px;
}

.add-btn {
  margin-top: 8px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: #28a745;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: #218838;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

.counter button {
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  background: #0077ff;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.counter span {
  font-size: 0.9rem;
  font-weight: bold;
}

/* --- Vendor Header --- */
.vendor-banner {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, #8a6bcc, #130043);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.vendor-banner-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.vendor-banner-details h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.vendor-banner-details p {
  font-size: 0.9rem;
  color: #fff;
  margin: 4px 0;
}

.view-shop-btn {
  background: #5d50a0;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 0.9rem;
}

.view-shop-btn:hover {
  background: #60549b;
}

.vendor-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.view-more {
  font-weight: bolder;
  font-size: larger;
  color: #0077ff;
  transition: text-decoration 0.2s;
  margin: 0 0px 25px 10px;
}
.description {
  font-size: 0.85rem;
  color: #555;
  margin: 4px 0;
  line-height: 1.2rem;
}

.read-more {
  color: #0077ff;
  font-weight: 500;
  cursor: pointer;
  margin-left: 4px;
  transition: opacity 0.2s;
}

.read-more:hover {
  opacity: 0.8;
}
